.save-entry {  
   width: 28px; 
   height: 24px; 
   margin:0; 
   padding: 0;  
   border: 0 #ffffff;
}  

.hour-minute{
   min-width: 120px;
   
}

.edit-mode{
   max-height: 48px;
   color: #000000;
   font-size: 13px !important;
   /* vertical-align: top; */
   padding-top: 3px !important;
   resize: none;
   overflow: hidden;
  
}
